.spinner {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 5px solid #00bcd4;
  border-top-color: transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
  margin: 16px;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
