.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(#fff, 0.12);
  padding: 40px;
  border-radius: 12px;
  height: 200px;
  width: 300px;
  .message {
    color: rgba(#fff, 0.8);
    font-family: 'Anonymous Pro';
    font-size: 17px;
    margin-bottom: 16px;
  }
  .spinner {
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 4px solid #cddc39;
    border-top-color: transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
