nav {
  background-color: rgba(#fff, 0.1);
  color: rgba(#fff, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-brand {
    font-size: 32px;
    font-family: 'Chewy', cursive;
    background-image: linear-gradient(180deg, #fff, #8bc34a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    filter: drop-shadow(2px 2px #689f38);
    a {
      font-family: inherit;
    }
  }
  ul {
    display: flex;
    li {
      padding: 18px;
      list-style-type: none;
      font-size: 15px;
    }
  }
  a {
    color: inherit;
  }
}
