.question-card {
  width: 440px;
  max-width: 100%;
  background-color: rgba(#fff, 0.2);
  border-radius: 12px;
  margin: 20px auto;
  padding: 24px 32px;
  h1 {
    margin: 0;
  }
  .question {
    font-size: 18px;
    margin: 24px auto;
    color: rgba(#fff, 0.9);
  }
  .answer {
    background-color: rgba(#fff, 0.16);
    color: #fff;
    font-size: 16px;
    margin: 10px auto;
    padding: 14px;
    border-radius: 30px;
    border: none;
    display: block;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:disabled {
      opacity: 0.5;
    }
    &.correct {
      background-color: #4caf50;
    }
    &.wrong {
      background-color: #f44336;
    }
    &.correct,
    &.wrong {
      opacity: 0.8;
    }
  }
  .submit {
    margin: 24px auto 0;
  }
}
