* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  text-align: center;
  background-size: cover;
  background-position: center;
}
h1,
h2,
h3 {
  font-family: 'Chewy', cursive;
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  // color: rgba(#fff, 0.8);
  background-image: linear-gradient(180deg, #fff, #8bc34a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  filter: drop-shadow(2px 2px #689f38);
}

a {
  text-decoration: none;
}

.welcome {
  font-size: 64px;
}

.btn {
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 14px 28px;
  background-image: radial-gradient(70% 70% at 84% 18%, #8bc34a 0%, #4caf50 100%);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  &:hover,
  &:focus {
    box-shadow: 0 10px 10px rgba(#8bc34a, 0.2);
  }
  &.danger {
    background-image: radial-gradient(70% 70% at 84% 18%, #ef6a61 0%, #f44336 100%);
    &:hover,
    &:focus {
      box-shadow: 0 10px 10px rgba(#ef6a61, 0.2);
    }
  }
  &.google {
    background: #dc4e41;
  }
  &.facebook {
    background: #485a96;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
  .btn {
    margin: 5px;
  }
}

.result {
  width: 400px;
  max-width: 100%;
  height: 320px;
  background-color: rgba(#fff, 0.18);
  border-radius: 12px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .score {
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    color: #fff;
  }
}
.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

// grid
.container {
  padding: 0 120px;
  max-width: 1600px;
  margin: 0 auto;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: #fff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  form {
    background-color: rgba(#fff, 0.1);
    width: 400px;
    max-width: 100%;
    padding: 32px;
    border-radius: 10px;
    .btn {
      margin: 0 auto;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: none;
  outline: none;
  padding: 12px 28px;
  border-radius: 20px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 16px;
}

.pointer {
  cursor: pointer;
}
